.sprout-slide-container{
	width: 100%;
	/*display: none;*/
	clear: both;
	position: relative;
	padding-bottom: 3px;
	margin: 0px auto;
	z-index: 1;
	font-family: Arial;
}

.sprout-slide-container ul{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

.sprout-slide-container ul li{
	list-style-type: none;
	margin:0px !important;
	padding:0px !important;
	line-height: 0px;
}

.sprout-slide-container.animate-slide ul li{
	float: left;
	min-height: 10px;
	text-align: center;
	position: relative;
}

.sprout-slide-container.animate-fade ul li{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.sprout-slide-container.animate-slide ul li a{
	width: 96%;
	margin: 0px auto;
	position: relative;
}

.sprout-slide-container.animate-slide ul li img{
	max-width: 100%;
}

.sprout-slide-container.animate-fade li img{
	width: 100%;
}

.sprout-slide-wrapper{
	overflow: hidden;
	margin: 0px auto;
}

.sprout-slide-wrapper ul.hasCursor li{
	cursor: pointer;
}

.sprout-arrow{
	display: none;
}

.sprout-arrow > div{
	position: absolute;
	top: 50%;
	margin-top: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 10;
	background-color: #1a1a1a;
	color: #ffffff;
}
.sprout-arrow .sprout-prev{ left: 0px; background-image: url(img/prev.png);}
.sprout-arrow .sprout-next{	right: 0px; background-image: url(img/next.png);}

.sprout-dots {
	overflow:hidden;
	text-align: center;
	margin: 5px auto;
	display: none;
}

.sprout-slide-container.animate-slide .sprout-dots{
	width: 100%;
}

.sprout-slide-container.animate-fade .sprout-dots{
	width: 100%;
}

.sprout-dots div {
	width: 8px;
	height: 8px;
	margin: 0px 4px;
	border-radius: 8px;
	background: #cccccc;
	cursor: pointer;
	display: inline-block;
}

.sprout-dots.hasNumber div{
	width: 18px;
	height: 18px;
	border-radius: 0px;
	line-height: 18px;
	font-size: 12px;
	color: #333;
	margin: 0px 2px;
}

.sprout-dots.hasNumber div.active{
	color: #fff;
}

.sprout-dots div.active{
	background: #1a1a1a;
}


/*
.fade-caption{
	width: 100%;
	position: absolute;
	left: 0px;
	bottom:0px;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	z-index: 10;
}
.fade-caption .quote{
	position: absolute;
	bottom: 65px;
	left: 20px;
	opacity: 0.9;
}
.fade-caption .page{
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-weight: lighter;
	color: #696969;
	font-size: 24px;
	letter-spacing: 1px;
}
.fade-caption .caption-text{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.fade-caption .caption-text div{
	text-align: center;
	font-size: 18px;
	line-height: 1.8;
	letter-spacing: 1px;
	padding: 20px 0px;
	width: 70%;
	margin: 0px auto;
}
*/
